<div class='container'>
  <div class="ui fixed inverted menu" style="background: rgb(26, 188, 156); height: 52px;">
    <div class="ui container">
      <a href="#" class="header item router-link-active" style="border: none;"><span class="logo-name" style="padding-left: 5px;">所有练习册</span>
      </a>
      <div class="right header item">
        <div class="ui hidden divider"></div>
        <div id="userinfo_dropdown" class="ui floating dropdown button" tabindex="0"><i class="user icon"></i>
          <div id="studentname" style="display: inline;"><%= current_user.name %></div> <i class="dropdown icon" tabindex="0"><div class="menu" tabindex="-1"></div></i>
          <div class="menu" tabindex="-1">
            <a href="/sign_out" class="item"><i class="sign out icon"></i> 注销</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="app-main" style="min-height: 100%;">
    <div id="exam_wrapper" class="ui stackable two column vertically divided grid container">
      <div class="row">
        <div class="twelve wide column exam-content">

          <div class="ui segment question transition visible" style="display: block !important;">
            <% @workbooks.each do |book| %>
              <div id="question-1" class="card">
                <div class="card-content">
                  <%= link_to book.textbook.title, workbook_path(book) %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


<script>
  $(() => {
    $('.dropdown').dropdown()
  })
</script>
