<div class="workbooks-list">
  <div class='header mb-2'>
    <header class="navbar">
      <section class="navbar-section">
        <%= link_to '所有课本', textbooks_path, class: 'btn' %>
      </section>
      <section class="navbar-center">
        <h3>所有练习册</h3>
      </section>
      <section class="navbar-section text-right">
        <%= render partial: 'common/dropdown', locals: { user: current_user } %>
      </section>
    </header>
  </div>


  <div class="container">
    <div class="columns col-gapless">
      <div class="column col-2"></div>
      <div class="column col-8">
        <div class="panel">
          <div class="panel-header"></div>
          <div class="panel-body">
            <% if @workbooks.present? %>
              <table class="table table-striped table-hover">
                <% @workbooks.each_with_index do |book, index| %>
                <tr>
                  <td><%= link_to book.textbook.title, workbook_path(book) %></td>
                </tr>
                <% end %>
              </table>
            <% else %>
              <div class='text-center'>你还没有练习册，去<%= link_to '添加几个吧', textbooks_path %></div>
            <% end %>
          </div>
          <div class="panel-footer">
          </div>
        </div>
      </div>
      <div class="column col-2"></div>
    </div>
  </div>
</div>
