<ul class="nav">
  <% collection.each do |item, children| %>
    <li class="nav-item">
      <%= item[:title] %>
      <% if children.blank? && workbook.present?  %>
        <a href="/workbooks/<%= params[:id] %>/lessons/<%= item.id %>/practice" class="click-to-practice">前往练习</a>
      <% end %>
    </li>

    <% if children.present? %>
      <%= render partial: 'item', locals: { collection: children, workbook: workbook } %>
    <% end %>
  <% end %>
</ul>
