<ul>
<% collection.each do |item, children| %>
  <div>
    <li><%= item[:title] %></li>
  </div>

  <% if children.present? %>
    <div>
      <%= render 'item', collection: children %>
    </div>
  <% end %>
<% end %>
</ul>
