<% collection.each do |item, children| %>
  <div>
    <%= item[:title] %>
  </div>

  <% if children.present? %>
    <div>
      <%= render 'item', collection: children %>
    </div>
  <% end %>
<% end %>