<% collection.each do |item, children| %>
  <div>
    <%= item[:title] %>
  </div>

  <% if children.present? %>
    <div>
      <%= render 'item', collection: children %>
    </div>
  <% end %>
<% end %>

<div>
  # TODO: 根据当前用户是否选取该练习册，以决定是否展示按钮
  加入我的练习册
</div>
