<div class="textbooks-show">
  <%= render partial: 'common/header', locals: { title: '教材', user: current_user } %>

  <div class="container">
    <div class="columns col-gapless">
      <div class="column col-2"></div>
      <div class="column col-8">
        <div class="panel">
          <div class="panel-header">
            <div class="panel-title">目录</div>
          </div>
          <div class="panel-body">
            <%= render partial: 'item', locals: { collection: @textbook, workbook: @workbook } %>
          </div>
          <div class="panel-footer">
            <% if @workbook %>
            <button class="btn disabled">已加入我的练习册</button>
            <% else %>
            <%= link_to '加入我的练习册', add_to_my_workbook_path(textbook_id: params[:id]), remote: true, method: :post, class: 'btn btn-primary' %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="column col-2"></div>
    </div>
  </div>
</div>
