<div class="chapters-sort-list">
  <header class="navbar header">
    <section class="navbar-section">
      <a href="/chapters" class='btn btn-primary'>回到所有章节</a>
    </section>
    <section class="navbar-center">
      <h3>年级/课本排序</h3>
    </section>
    <section class="navbar-section text-right">
      <%= render partial: 'common/dropdown', locals: { user: current_user } %>
    </section>
  </header>

  <div class="container">
    <div class="columns col-gapless">
      <div class="column col-2"></div>
      <div class="column col-8">
        <div class="panel">
          <div class="panel-header"></div>
          <div class="panel-body">
            <ul id='items'>
              <% @chapters.each do |item| %>
                <li class='chapter' data-chapter-id="<%= item.id %>">
                  <%= item.title %>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="panel-footer"></div>
        </div>
      </div>
      <div class="column col-2"></div>
    </div>
  </div>
</div>

<script type="text/javascript">
  // TODO: 移动到单独的 JS 文件中去
  let el = document.getElementById('items');
  Sortable.create(el, {
    onUpdate: function (evt) {
      let ids = []
      $('.chapter').each(function(i, obj) {
        ids.push($(obj).data('chapter-id'))
      })

      $.post(window.location.href, {
        chapter_ids: ids
      })
  	}
  })
</script>
