<div class="chapters-list">
  <header class="navbar header">
    <section class="navbar-section">
    </section>
    <section class="navbar-center">
      <h3>新建学生</h3>
    </section>
    <section class="navbar-section text-right">
      <%= render partial: 'common/dropdown', locals: { user: current_user } %>
    </section>
  </header>

  <div class="container">
    <div class="columns col-gapless">
      <div class="column col-2"></div>
      <div class="column col-8">
        <div class="panel">
          <div class="panel-header"></div>
          <div class="panel-body">
            <%= render 'form' %>
          </div>
          <div class="panel-footer"></div>
        </div>
      </div>
      <div class="column col-2"></div>
    </div>
  </div>
</div>
