.practice {
  margin-top: .5em;

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: whitesmoke;
    padding: .5em;
  }

  .questions-list {
    margin-top: 5em;

    .panel-header {
      margin-bottom: 2em;
    }

    .panel-body {
      .tile-content {
        padding-top: .2em;

        .tile-subtitle {
          .option-title {
            margin-left: .5em;
          }
        }
      }
    }
  }

  #scoreboard {
    margin-top: 15vh;

    .answered {
      background: #5755d9;
      border-color: #4b48d6;
      color: white;
    }

    #numbers {
      padding: .5em 0;
      margin: .5em 0;
    }
  }
}
