<div class="errors_pages">
  <div class="empty">
    <div class="empty-icon">
      <i class="icon icon-people"></i>
    </div>
    <p class="empty-title h5"><%= message || '权限不够' %></p>
    <p class="empty-subtitle"></p>
    <div class="empty-action">
      <a class="btn" href="javascript:window.history.back()">回到上一页</a>
    </div>
  </div>
</div>
