<div class="errors_pages">
  <div class="panel">
    <div class="panel-header"></div>
    <div class="panel-body">
      <div class='text-center'>403: <%= message || '权限不够' %></div>
    </div>
    <div class="panel-footer"></div>
  </div>
</div>
