.textbooks-show {
  margin-top: 5vh;

  .container {
    margin-top: 5em;
  }

  .nav {
    .nav-item {
      &:hover .click-to-practice {
        visibility: visible;
      }
      .click-to-practice {
        margin-left: 5vw;
        visibility: hidden;
      }
    }
  }
}
