<div class="chapters-list">
  <header class="navbar header">
    <section class="navbar-section">
      <a href="/chapters/new" class='btn btn-primary'>新建章节</a>
    </section>
    <section class="navbar-center">
      <h3>所有章节</h3>
    </section>
    <section class="navbar-section text-right">
      <%= render partial: 'common/dropdown', locals: { user: current_user } %>
    </section>
  </header>

  <div class="container">
    <div class="columns col-gapless">
      <div class="column col-2"></div>
      <div class="column col-8">
        <div class="panel">
          <div class="panel-header">
            <a class='btn' href="/chapters/rank">年级/课本排序</a>
          </div>
          <div class="panel-body">
            <%= render 'item', collection: @chapters %>
          </div>
          <div class="panel-footer"></div>
        </div>
      </div>
      <div class="column col-2"></div>
    </div>
  </div>
</div>
