<div class="dropdown dropdown-right">
  <a class="btn btn-link dropdown-toggle" tabindex="0">
    <%= user.name %> <i class="icon icon-caret"></i>
  </a>
  <ul class="menu">
    <% if policy(:chapter).access? %><li class="menu-item"><a href="/chapters">章节管理</a></li><% end %>
    <% if policy(:question).access? %><li class="menu-item"><a href="/questions">题目管理</a></li><% end %>
    <% if policy(:student).access? %><li class="menu-item"><a href="/students">学生管理</a></li><% end %>
    <li class="menu-item"><a href="/sign_out">注销</a></li>
  </ul>
</div>
