<div class='header mb-2'>
  <header class="navbar">
    <section class="navbar-section">
    </section>
    <section class="navbar-center">
      <h3><%= title %></h3>
    </section>
    <section class="navbar-section text-right">
      <%= render partial: 'common/dropdown', locals: { user: user } %>
    </section>
  </header>
</div>
