<header class="navbar header">
  <section class="navbar-section">
  </section>
  <section class="navbar-center">
    <h3><%= title %></h3>
  </section>
  <section class="navbar-section text-right">
    <div class="dropdown dropdown-right">
      <a class="btn btn-link dropdown-toggle" tabindex="0">
        <%= user.name %> <i class="icon icon-caret"></i>
      </a>
      <ul class="menu">
        <li class="menu-item"><a href="/chapters">章节管理</a></li>
        <li class="menu-item"><a href="/questions">题目管理</a></li>
        <li class="menu-item"><a href="/sign_out">注销</a></li>
      </ul>
    </div>
  </section>
</header>
